* {
	margin: 0px;
	padding: 0px;
}


@keyframes animacao-titulo{

	0% {
		left: -400px;
		top: 0px;
		color: #b9c941;
	}

	50% {
		font-size: 80px;
		left: -280px;
		top: 50px;
		
	}
	100% {
		left: 0px;
		top: 0px;
	}
}



body {
	background: #f3f3f3;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
}
#navegacao {
	position: fixed;
	width: 100%;
	top: 0px;
	background: #fff;
	height: 45px;
	border-bottom: 1px solid rgba(197,193,193,1.00);
}
#area {
	width: 740px;
	margin: 0px auto;
	padding: 3px;

}
.verde {
	color: #b9c941;
}
#menu {
	float: right;
	padding: 10px 0px;
}
#logo {
	float: left;
	position: relative;
	animation-name: animacao-titulo;
	animation-duration: 3s;
}

a {
	color:#838383;
	text-decoration: none;
	padding: 3px;
	
}

a:hover{
	background: #b9c941;
	color: white;
}


.rodape {
	text-align: center;
	border-top: 1px solid rgba(162,157,157,1.00);
	margin-top: 30px;
	padding-top: 10px;
}
